{% extends "layout.html" %}

{% block content_1 %}
<div id="carouselExampleControls" class="carousel slide carousel-height" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 home-image" src="static/edvin-johansson-rlwE8f8anOc-unsplash.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 home-image" src="static/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 home-image" src="static/stephen-leonardi-knhr826qIMA-unsplash.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--    <div class="supporting">-->
<!--      <div class="container">-->
<!--        <div class="col">-->
<!--          <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">-->
<!--          <h2>Design</h2>-->
<!--          <p>Make your projects look great and interact beautifully.</p>-->
<!--          <a href="#" class="btn-default">Learn More</a>-->

<!--        </div>-->
<!--        <div class="col">-->
<!--          <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">-->
<!--          <h2>Develop</h2>-->
<!--          <p>Use modern tools to turn your design into a web site</p>-->
<!--          <a href="#" class="btn-default">Learn More</a>-->

<!--        </div>-->
<!--        <div class="col">-->
<!--          <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">-->
<!--          <h2>Deploy</h2>-->
<!--          <p>Use modern tools to turn your design into a web site</p>-->
<!--          <a href="#" class="btn-default">Learn More</a>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="clearfix"></div>-->
<!--    </div>-->



 <div class="container my-5">
   <div class="row">
     <div class="col-md-6 p-4 p-sm-5 order-2 order-sm-1">
       <small class="text-uppercase" style="color: #4682b4;">About us</small>
       <h1 class="h2 mb-4" style="font-weight: 600;">Get Tailored Travel Suggestions  <span style="color: #4682b4;">Here</span></h1>
       <p class="text-secondary" style="line-height: 2;">GoGuide is developed by a team of travel enthusiasts to simplify the travel planning process. By using advanced algorithms, the application provides personalized travel recommendations based on user preferences and feedback. The team is dedicated to enhancing the travel experience and helping users discover their next adventure.</p>
       <a href="#" style="background-color: #4682b4; width: 240px;" class="btn px-4 py-3 mt-4 text-white d-flex align-items-center justify-content-between">
        <span>Read More</span>
        <svg width="25px" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
        <g>
          <g>
            <path d="M329.2,327.2c-4.5,0-8.1,3.4-8.6,7.9c-3.9,38.6-36.5,68.7-76.2,68.7c-39.6,0-72.2-30.1-76.2-68.7
              c-0.5-4.4-4.1-7.9-8.6-7.9h-104c-21.8,0-39.5,17.7-39.5,39.5v82.8c0,21.8,17.7,39.5,39.5,39.5h377.8c21.8,0,39.5-17.7,39.5-39.5
              v-82.7c0-21.8-17.7-39.5-39.5-39.5H329.2V327.2z"/>
            <path d="M303.5,198.6l-30.9,30.9V28.1C272.6,12.6,260,0,244.5,0l0,0c-15.5,0-28.1,12.6-28.1,28.1v201.4l-30.9-30.9
              c-9.5-9.5-24.7-11.9-35.9-4.4c-15.3,10.2-16.8,31.1-4.5,43.4l82.8,82.8c9.2,9.2,24.1,9.2,33.3,0l82.8-82.8
              c12.3-12.3,10.8-33.2-4.5-43.4C328.2,186.6,313,189,303.5,198.6z"/>
          </g>
        </svg>
      </a>
     </div>
     <div class="col-md-6 p-0 text-center order-1 order-sm-2 mt-2">
        <img src="./static/gabrielle-henderson-hy7cRc-DbX0-unsplash.jpg" class="w-100" alt="">
     </div>

    <div class="col-md-6 p-0 text-center">
       <img src="./static/patrick-tomasso-GXXYkSwndP4-unsplash.jpg" class="w-100" alt="">
    </div>
    <div class="col-md-6 p-4 p-sm-5">
      <small class="text-uppercase" style="color: #4682b4;">About us</small>
      <h1 class="h2 mb-4" style="font-weight: 600;">Discover Your Perfect Trip with Our Tourist Recommendation System <span style="color: #4682b4;">Here!</span></h1>
      <p class="text-secondary" style="line-height: 2;">GoGuide is developed by a team of travel enthusiasts to simplify the travel planning process. By using advanced algorithms, the application provides personalized travel recommendations based on user preferences and feedback. The team is dedicated to enhancing the travel experience and helping users discover their next adventure.</p>
      <a href="#" style="background-color: #4682b4; width: 240px;" class="btn px-4 py-3 mt-4 text-white d-flex align-items-center justify-content-between">
        <span>Our Mission</span>
        <svg width="25px" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
        <g>
          <g>
            <path d="M329.2,327.2c-4.5,0-8.1,3.4-8.6,7.9c-3.9,38.6-36.5,68.7-76.2,68.7c-39.6,0-72.2-30.1-76.2-68.7
              c-0.5-4.4-4.1-7.9-8.6-7.9h-104c-21.8,0-39.5,17.7-39.5,39.5v82.8c0,21.8,17.7,39.5,39.5,39.5h377.8c21.8,0,39.5-17.7,39.5-39.5
              v-82.7c0-21.8-17.7-39.5-39.5-39.5H329.2V327.2z"/>
            <path d="M303.5,198.6l-30.9,30.9V28.1C272.6,12.6,260,0,244.5,0l0,0c-15.5,0-28.1,12.6-28.1,28.1v201.4l-30.9-30.9
              c-9.5-9.5-24.7-11.9-35.9-4.4c-15.3,10.2-16.8,31.1-4.5,43.4l82.8,82.8c9.2,9.2,24.1,9.2,33.3,0l82.8-82.8
              c12.3-12.3,10.8-33.2-4.5-43.4C328.2,186.6,313,189,303.5,198.6z"/>
          </g>
        </svg>
      </a>
    </div>
   </div>
 </div>








<!--    <div class="footer">-->
<!--      <div class="container">-->
<!--        <p>&copy; Broadway 2015</p>-->
<!--      </div>-->
<!--    </div>-->

<div>
 <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">watch</a></li>
  	 				<li><a href="#">bag</a></li>
  	 				<li><a href="#">shoes</a></li>
  	 				<li><a href="#">dress</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
                    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>


  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
</div>

<!--&lt;!&ndash; Buy me a coffe script &ndash;&gt;-->
<!--<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="vbattalshn" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>-->

{% endblock content_1 %}


