{% extends "layout.html" %}


{% block  content_2 %}
{% endblock %}

{% block content_1 %}

<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./static/ben-o-bro-wpU4veNGnHg-unsplash.jpg" style="height:600px;" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</section>
<section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Where would you like to go?">
                        </div>
<!--                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                            <select class="form-control search-slt" id="exampleFormControlSelect1">-->
<!--                                <option>Choose City</option>-->
<!--                                <option>New York</option>-->
<!--                                <option>Chicago</option>-->
<!--                                <option>Bloomington</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="hotels container">
<div class="wrapper">
  <h1>PHILIPPINES</h1>
  <div class="image i1"></div>
    <div class="details"><h1><em>Boracay Island</em></h1></div>
  <h2>Surfer's Home</h2>
  <button type="button" class="btn btn-danger">Wishlist</button>
</div>

<div class="wrapper">
  <h1>THAILAND</h1>
  <div class="image i3"></div>
    <div class="details"><h1><em>Mae Hong Son</em></h1></div>
  <h2>Farmer's Walk</h2>
  <button type="button" class="btn btn-danger">Wishlist</button>
</div>

<div class="wrapper">
  <h1>JAPAN</h1>
  <div class="image i3"></div>
    <div class="details"><h1><em>Tokyo</em></h1></div>
  <h2>Mandarin Oriental</h2>
<button type="button" class="btn btn-danger">Wishlist</button>
</div>


<div class="wrapper">
  <h1>THAILAND</h1>
  <div class="image i1"></div>
    <div class="details"><h1><em>Mae Hong Son</em></h1></div>
  <h2>Farmer's Walk</h2>
 <button type="button" class="btn btn-danger">Wishlist</button>
</div>

<div class="wrapper">
  <h1>PHILIPPINES</h1>
  <div class="image i1"></div>
    <div class="details"><h1><em>Boracay Island</em></h1></div>
  <h2>Surfer's Home</h2>
<button type="button" class="btn btn-danger">Wishlist</button>
</div>

<div class="wrapper">
  <h1>THAILAND</h1>
  <div class="image i1"></div>
    <div class="details"><h1><em>Mae Hong Son</em></h1></div>
  <h2>Farmer's Walk</h2>
<button type="button" class="btn btn-danger">Wishlist</button>
</div>
</div>




{% endblock content_1 %}